aiohttp==3.8.3
asyncpraw==7.7.0
beautifulsoup4==4.12.2
blackwidow==0.1.6
fastapi==0.95.1
google_api_python_client==2.86.0
lxml==4.9.1
mysql_connector_repackaged==0.3.1
mysql_connector_python==8.0.32
nltk==3.8.1
praw==7.7.0
pydantic==1.10.6
requests==2.28.2
requests_html==0.10.0
Scrapy==2.8.0
spacy==3.5.1
tld==0.13
youtube_transcript_api==0.5.0
uvicorn==0.22.0